<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <nav>
        <a href="/about">About</a>
        <a href="/form">Form</a>
    </nav>
    <img src="/image.png">
    <br>
    <button onclick="window.location.href='/download'">Download Image</button>
</body>
</html>